* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

#menuToggle:after {
    content: 'GYMSO FITNESS';
    left: 25%;
    top: -40px;
    font-weight: bold;
    position: relative !important;
    color: white;
    font-size: 1.5rem;
}

#menuToggle {
    width: 100%;
    background-color: #171819;
    display: block;
    height: 40px;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: white;
}

#menuToggle a:hover {
    color: #f13a11;
    transition: color 0.3s ease;
}

/*for hiden checkbox*/
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

/*hamburger lines*/
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #f13a11;
    border-radius: 3px;
    margin-left: 7px;
    margin-top: 5px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* transforms all the slices of hamburger into a crossmark*/
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-5px, 0px);
    background: #f13a11;
}

#menuToggle input:checked ~ span:nth-last-child(3),
#menuToggle input:checked ~ span:nth-last-child(5) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-55deg) translate(0, -1px);
}

#menu {
    position: fixed;
    padding: 0 50% 2rem 35%;
    margin-top: -2px;
    background: #171819;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s;
}

#menu li {
    padding: 5px 0;
    margin-right: 5px;
    font-size: 0.9rem;
}

/*causes menu to slide in*/
#menuToggle input:checked ~ ul {
    transform: none;
    text-align: center;
}

.media-icon {
    display: inline-block;
}

.icons {
    fill: white;
}

.icons:hover,
#Dribbble-Light-Preview:hover {
    fill: #f13a11;
}

.icons,
.table-icon {
    width: 15px;
    color: white;
}

img {
    max-width: 100%;
}


#home {
    text-align: center;
    background: url('images/hero-bg.jpg') no-repeat top;
    background-size: cover;
    min-height: 100vh;
    vertical-align: middle;
    opacity: 0.90;
}

#home > h1 {
    color: white;
    margin: 0 auto;
    display: block;
    font-size: 2.4rem;
    margin-bottom: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
}

#home > h3 {
    color: #909090;
    padding-top: 12rem;
    padding-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 35px;
    padding-right: 35px;
}

#btn1 {
    color: white;
    padding-right: 2rem;
    font-weight: 500;
    font-size: 0.9rem;
}

#btn1:hover {
    color: #f13a11;
    transition: all 0.3s ease;
}

#btn2 {
    color: #f13a11;
    border: 1px solid #f13a11;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-weight: 500;
    font-size: 0.9rem;
}

#btn2:hover {
    background-color: white;
    color: #f13a11;
    border-color: white;
    transition: all 0.3s ease;
}

#membership {
    background-color: #171819;
    padding: 5rem 20px;
}

.membership-details > h2,
.hours > h3 {
    color: white;
    font-size: 2.1rem;
    margin-bottom: 1rem;
}

.membership-details > h3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.membership-details > p {
    font-size: 1.2rem;
    color: #666262;
    margin-bottom: 3rem;
}

#member-btn {
    background-color: #f13a11;
    color: white;
    border: 1px solid #f13a11;
    padding: 0.5rem 0.3rem;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    max-width: 350px;
    text-align: center;
    max-height: 85px;
}

#member-btn:hover {
    background-color: white;
    border-color: white;
    color: #f13a11;
    transition: all 0.3s ease;
}

.hours > h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.days {
    color: white;
    line-height: 2.5;
    font-weight: 300;
}

.time {
    font-size: 1.2rem;
    color: #666262;
}

#about-us {
    padding: 5rem 20px;
    background-color: #ededed;
}


#about-us > h2 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
}

#about-us > p {
    font-size: 1.1rem;
    color: #666262;
    margin-bottom: 3rem;
}

.grid-container {
    max-width: 375px;
}

.grid-photo {
    height: auto;
    vertical-align: middle;
}

.twitter-svg,
.facebook-svg,
.instagram-svg {
    max-width: 20px;
    fill: #666262;
    float: right;
    margin-top: -22px;
    margin-right: 15px;
}

.facebook-svg {
    margin-right: 20px !important;
}


.twitter-svg:hover,
#facebook-svg:hover,
.instagram-svg:hover {
    fill: #f13a11;
    cursor: pointer;
    transition: all 0.3s ease;
}

.team-info {
    background-color: #ffffff;
    border-radius: 0 0 2px 2px;
    box-shadow: rgb(20 20 20 / 10%);
    padding: 20px;
    margin-bottom: 3rem;
}

.name-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.team-details {
    font-weight: 400;
}

#classes {
    margin-top: -100px;
    padding: 5rem 20px;
    background-color: #ededed;
}

.class-container {
    background-color: white;
    padding-top: 5rem;
}

.class-container > h3,
.class-container > h2 {
    text-align: center;
}

.class-container > h3 {
    font-size: 1.5rem;
    color: #909090;
    font-weight: 400;
}

.class-container > h2 {
    font-size: 2rem;
    padding-bottom: 3rem;

}

.class-info {
    background-color: #ffffff;
    border-radius: 0 0 2px 2px;
    box-shadow: rgb(20 20 20 / 10%);
    padding: 20px;
    margin-bottom: 3rem;
}

.class-info > h4 {
    color: #909090;
    font-size: 1.2rem;
}

.class-price {
    float: right;
    margin-top: -60px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f13a11;
    color: white;
    padding: 0.6rem;
    border-radius: 50%;
}

.classes-p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #666262;
}

#schedules {
    background-color: #171819;
    padding: 5rem 20px;
}

#schedules > h3 {
    font-size: 1.5rem;
    color: #909090;
    font-weight: 400;
    text-align: center;
}

#schedules > h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-spacing: 1px;
    text-align: center;
    display: block;
    overflow-x: auto;
}

table td {
    padding: 1.5rem;
    border-right: 0.1px solid #909090;
    border-bottom: 0.1px solid #909090;
}

.table-icon {
    width: 25px;
    max-width: 100px;
}

thead {
    background-color: #f13a11;
    color: white;
    font-size: 1rem;
}

thead tr th {
    padding: 1rem;
}

table span {
    color: #909090;
    display: block;
    font-size: 0.9rem;
}

.red-time {
    background-color: #f13a11;
    color: white;
    font-weight: bold;
    padding: 1.2rem;
    border-right: none;
    border-bottom: none;
}

strong {
    color: white;
}

#contact {
    padding: 5rem 20px;
}

#contact > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: black;
    line-height: 1.2;
}

input {
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Open Sans';
}

textarea {
    padding-left: 1rem;
    font-size: 1.2rem;
    width: 100%;
    font-family: 'Open Sans';
    padding-top: 1rem;
    color: #808080;
}

#submit {
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 4rem;
}

#submit:hover {
    background-color: #f13a11;
    transition: all 0.3s ease;
}

.map > h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: black;
}

.map > h3 {
    color: #666262;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

hr {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.map-google {
    width: 100%;
    max-width: 450px;
}

footer {
    margin-bottom: 4rem;
}

.mail-icon {
    fill: red;
}

.mail-svg {
    max-width: 20px;
    vertical-align: middle;
}

.red-phone {
    max-width: 20px;
    vertical-align: middle;
}

footer {
    text-align: center;
}

footer > p,
footer > a,
footer > span {
    color: #666262;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

footer > a {
    margin-right: 15px;
}
